@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "宋体",Arial;
}
#dd {
    /*background-color: blue;*/
    width: 600px
}
.ddClass2 {
    background-color: #2251A8;
    width: 600px
}
.ddClass {
    background-color: purple;
    width: 600px
}

body > div {
    background-color: #808080;
    height: 200px;
}
div {
    background-color: red;
    height: 100px;
    width: 800px
}