/**
 * menuList 
 */
.ui-menuList {
	border:solid 1px #cccccc;
	display:inline-block;
	padding:2px 0;
	position:absolute;
	background-color:#FFFFFF;
	display:none;
	min-width:80px;
	z-index:1000;
}

.ui-menuList {
	-moz-border-radius: 2px; /* FF1-3.6 */
	-webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 2px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
}

.ui-menuList ul { margin-bottom:6px; }

.ui-menuList ul li {
	height:12px;
	line-height:12px;
	padding:5px 15px;
	cursor:default;
	overflow:hidden;
}

.ui-menuList ul li.h {
	background-color:#6699cc;
	color:#FFFFFF;
}

.ui-menuList ul li.d {
	background-color:#ffffff;
	color:#cccccc;
}
