
/**
 * buttonPro 
*/


.ui-buttonPro,
.ui-buttonPro span {
	background-image:url(images/buttonPro/buttonPro.png);
	background-repeat:no-repeat;
}

.ui-buttonPro {
	height:24px;
	display:inline-block;
	margin:2px;
	overflow-y:hidden;
}

.ui-buttonPro span {
	background-position:right -24px;
	height:24px;
	display:inline-block;
	padding-right:3px;
	margin-left:3px;
}

.ui-buttonPro span .ico {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:16px;
	vertical-align:middle;
	margin:4px 2px 3px 3px;
	margin-bottom:0;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro span .s {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:0;
	vertical-align:middle;
	margin-top:4px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro span input,
.ui-buttonPro span button {
	margin:0;
	padding:0;
	border:0;
	background:none;
	font-size:12px;
	height:22px;
	line-height:24px;
	padding:0 3px;
	display:inline-block;
	overflow:hidden;
}

.ui-buttonPro span span.triangle {
	display:inline-block;
	background-image:url(images/buttonPro/btn_icon_menu.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
	vertical-align:middle;
	margin:3px 3px 4px 2px;
	_margin-right:6px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro-h { background-position:0 -48px; }

.ui-buttonPro-h span { background-position:right -72px; }

.ui-buttonPro-c { background-position:0 -96px; }

.ui-buttonPro-c span { background-position:right -120px; }

.ui-buttonPro-d {
	background-position:0 -144px;
filter : progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=25, finishOpacity=0);
	opacity: 0.25;
}

.ui-buttonPro-d span { background-position:right -168px; }

.ui-buttonPro-d span button,
.ui-buttonPro-d span input { color:#CCCCCC;}
