/* artDialog default.css
 * Date: 2010-10-13
 */

.aui_green .aui_td_title, .aui_green .aui_td_buttons button { font:14px 'Microsoft Yahei', Arial; }
.aui_green .aui_content_table { min-width:9em; background:#FFF; }
.aui_green .aui_dialog, .aui_green .aui_content_table { border:0px solid #dddddd!important; }
.aui_green .aui_left_top, .aui_green .aui_right_top, .aui_green .aui_left_bottom, .aui_green .aui_right_bottom { width:4px; height:4px; }
.aui_green .aui_border { background:#000; _filter:alpha(opacity=20); opacity:0.2; }
html>body .aui_green .aui_border,
html>body .aui_green .art_move .aui_border{ background:url(green/30.png)\9; }
.aui_green .art_focus .aui_border { _filter:alpha(opacity=20); opacity:0.2; }
html>body .aui_green .aui_border { background:url(green/20.png)\9; }
.aui_green .art_move .aui_border { _filter:alpha(opacity=20); opacity:0.2; }
.aui_green .art_focus .aui_content_table, .aui_green .aui_title_wrap, .aui_green .aui_close:hover { -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); }
/*add by GaoC ����jc6�¶Ի�����ʽ*/
.aui_green .aui_content_wrap { border:0px!important;}
/***/
.aui_green .art_focus .aui_bottom { -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
.aui_green .art_move .aui_bottom { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
.aui_green .aui_title_wrap { position:relative; height:100%; }
.aui_green .aui_title { height:30px; line-height:30px; padding:0 30px 0 10px; background-color:#3A6EA5; font-weight:700; color:#FFFFFF; border-style:solid; border-width:1px; border-color:#4E84C0 #4780BE #0D1D3C #4780BE; text-shadow:0 1px 0 #000; }
/*add by GaoC ����jc6�¶Ի�����ʽ*/
.aui_green .aui_title { font-size:14px;height:30px; line-height:30px; padding:0 30px 0 12px; background-color:#3A6EA5; font-weight:700; color:#FFFFFF; border-style:solid; border-width:0px; border-color:#4E84C0 #4780BE #0D1D3C #4780BE; text-shadow:0 0px 0 #000; }
.aui_green .aui_title { background-image:url(green/dialog_bg-green.png)};
/***/
.aui_green .art_move .aui_title { color:#FFF; }
.aui_green .art_focus .aui_title { background-color:#214FA3; }
.aui_green .aui_close { padding:0; top:6px; right:6px; width:13px; height:13px; line-height:13px; text-align:center; color:#FFF!important; text-decoration:none; border:0px solid #3A6EA5; }
/*.aui_green .art_focus .aui_close { border:1px solid #214FA3; }*/
.aui_green .aui_close:hover, .aui_green .aui_close:active, .aui_green .aui_close:focus { text-decoration:none; background-color:#771C35; border:0px solid #000; }
.aui_green .aui_close:active { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/*add by GaoC ����jc6�¶Ի�����ʽ*/
.aui_green .aui_close, .aui_green .aui_close:focus { font-size:1px; padding:0; right:0px; top:0px; height:30px; width:32px; border:0px solid #FFFFFF; background-color:transparent; background-image:url(green/close.png)}
.aui_green .aui_close:hover { background-image:url(green/dialog_close.png); }
/***/
.aui_green .aui_content { color:#666; }
.aui_green .art_focus .aui_content { color:#000; }
.aui_green .aui_loading_tip { color:#808080; }

/**********2011-09-23 limj 更新artDialog自带按钮样式************/
.aui_green .aui_buttons_wrap { height:40px;background-color:#F6F6F6; border-top:1px solid #EBEBEB; border-bottom:1px solid #CCC; -moz-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); -webkit-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); }
.aui_green .aui_buttons_wrap .aui_button_active { 
	width:68px;
	background-image:url(green/aui_button_active.png);
	height:24px;
	border:0px;
	font-size:12px;
	color:#ffffff;
	margin-top:7px;
}
.aui_green .aui_buttons_wrap .aui_button_pro { 
	width:68px;
	background-image:url(green/aui_button_pro.png);
	height:24px;
	border:0px;
	font-size:12px;
	margin-top:7px;
	margin-left:2px;
}
/**********2011-09-23 limj 更新artDialog自带按钮样式 end***********/

* html .aui_ie6_select_mask { left:-1px!important; top:-1px!important; }

.aui_green .aui_icon { width:48px; height:48px; margin:10px 0 10px 10px; background-image:url(aero/icons_green.png); background-repeat:no-repeat; }
.aui_green .art_alert { background-position:0 -96px; }
.aui_green .art_succeed { background-position:0 0;}
.aui_green .art_error { background-position:0 -48px; }
.aui_green .art_confirm { margin-right:10px; width:48px; height:48px; background-position:0 -144px; }